<div class="sidebar-items">
<% @artists.each do |artist| %>
  
  	<div class="sidebar-item">
  		<tr>
  		  <li><%= link_to_unless_current artist.reverse_fullname, artist_path(artist) %></li>
  		</tr>
  	</div>
<% end %>
</div>
