.popbox {
  margin:0 auto;
  text-align:center;
  position:relative;
  text-decoration: none;
  background:#DCD9CC;
}

  .collapse { position:relative; }

  .open {
    float: left;
    width: 15px;
    height: 15px;
    text-decoration: none;
    background: #DCD9CC;
    padding: 5px;
    padding-left: 11px;
    padding-right: 11px;
    margin-left: -13px;
    margin-top: -3px;
    background-image: url('/search.png');
    background-size: 92%;
    border:solid 1px #BBB;
    border-radius: 0;
  }

    a:link {
      color:#000;
    }

    .box {
      display:block;
      display:none;
      background:#DCD9CC;
      width: 150px;
      position:absolute;
      margin-top: 25px; 
      margin-left: -8px;
    }

      .box a.close {
       color:red;
       font-size:12px;
       font-family:arial;
       text-decoration:underline;
      }

     /* .arrow {
      	width: 0;
      	height: 0;
      	border-left: 11px solid transparent;
      	border-right: 11px solid transparent;
      	border-bottom: 11px solid #FFF;
      	position:absolute;
      	left:1px;
      	top:-10px;
      	z-index:1001;
      }*/

      /*.arrow-border {
      	width: 0;
      	height: 0;
      	border-left: 11px solid transparent;
      	border-right: 11px solid transparent;
      	border-bottom: 11px solid #BBBBBB;
      	position:absolute;
      	top:-12px;
      	z-index:1000;
      }*/

      .field {
        margin-top: 10px;
      }

      .actions {
        margin-top: 10px;
      }
