.popbox {
  margin:0 auto;
  text-align:center;
  position:relative;
  text-decoration: none;
  background:#DCD9CC;
}

  .collapse { position:relative; }

  .open {
    text-decoration: none;
    border:solid 1px #FFF;
    border-radius:5px;
    box-shadow: 0 0 5px #CCC;
    background:#DCD9CC;
    padding:5px;
  }

    a:link {
      color:#000;
    }

    .box {
      display:block;
      display:none;
      background:#DCD9CC;
      width: 150px;
      border:solid 1px #BBBBBB;
      border-radius:5px;
      box-shadow:0 0 15px #999;
      position:absolute;
    }

      .box a.close {
       color:red;
       font-size:12px;
       font-family:arial;
       text-decoration:underline;
      }

      .arrow {
      	width: 0;
      	height: 0;
      	border-left: 11px solid transparent;
      	border-right: 11px solid transparent;
      	border-bottom: 11px solid #FFF;
      	position:absolute;
      	left:1px;
      	top:-10px;
      	z-index:1001;
      }

      .arrow-border {
      	width: 0;
      	height: 0;
      	border-left: 11px solid transparent;
      	border-right: 11px solid transparent;
      	border-bottom: 11px solid #BBBBBB;
      	position:absolute;
      	top:-12px;
      	z-index:1000;
      }

      .field {
        margin-top: 10px;
      }

      .actions {
        margin-top: 10px;
      }
