* {
 font-size: 100%;
 font-family: Trebuchet;
 text-decoration: none;
 margin: 0;
 padding: 0;
}

html {
    height: 100%;
}
header, nav, section, article, aside, footer {
    display: block;
}

body {
    font-family: Trebuchet, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333;
    background: #F2E8DC;
    width: 100%;
    height: 100%;
}

p {
    padding: 10px;
}

h1 {
    font-weight: bold;
}


li {
    color:#333; /* selected */
    list-style-type: none;
}

li a { color:#333; }

li a:hover { 
    color:#F15A22; 
    text-decoration: none;
}

.wrapper {
    min-width: 750px;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.navigation {
    padding-left: 6%;
}

.navigation ul li { 
    display: inline;
    padding: .2em 1em;
}

.navigation li a:hover { color: #F15A22; }

.header {
    height: 150px;
    background: #FFE680;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
    width: 100%;
    padding: 0 0 100px;
    position: relative;
}

.middle:after {
    content: '';
    clear: both;
    display: table;
}

.container {
    width: 100%;
    float: left;
    overflow: hidden;
    background: #F2E8DC;
}

.content {
    width: 600px;
    padding: 0 250px 0 210px;
}

.adress p {
    padding: 10px 0px 0px 0px;
}

.adbox {
    margin-top: 30px;
    margin-left: -8px;
}

.adbox img {
    width: 300px;
    float: left;
    display: inline;
    margin: 0 0 3px 0;
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
.sidebar {
    background: #E9E5D8;
    width: 150px;
    height: 500px;
    float: left;
    overflow:scroll;
    padding-top: .2em;
    padding-left: 1em;
    padding-right: 0;
    margin-left: -100%;
    position: relative;
    border:solid 1px #BBB;
}

.sidebar-items {
    margin-top: -30px
}

.sidebar-item {
    padding: 5px;
    margin-bottom: .1em;
}

.sidebar-nav {
}

.sidebar-nav ul li {
    background: #DCD9CC;
    float: left;
    display: inline;
    padding: 5px 20px 5px 5px;
    margin-top: 0;
    height: 20px;
    margin-bottom: 30px;
    border-left:solid 1px #BBB;
}


/* Search field
-----------------------------------------------------------------------------*/

.search-item {
    margin-bottom: 20px;
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
.rightbar {
    background: #E9E5D8;
    width: 150px;
    height: 500px;
    float: right;
    overflow:scroll;
    padding: .2em 1em;
    margin-right: -3px;
    width: 150px;
    margin-left: -250px;
    position: relative;
    overflow: hidden;
    border:solid 1px #BBB;
}

.rightbar li {
    margin-top: 30px;
    color: black;
}

.images{
    padding-top: 10px;
}

.img {
    width: 155px;
    overflow: hidden;
    margin-bottom: 10px;
}

.rightbar h2 {
    background: #DCD9CC;
    padding: 5px 10px 5px 50px;
    margin: -13px;
    border:solid 1px #BBB;

}


/* Gradient transparent - color - transparent */
        
hr.style-two {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

/* ribbon style */

 .ribbon-wrapper {
    position: absolute;
    border-top: 0px solid #ccc;
    -moz-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
    -webkit-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
}
  .ribbon-front {
    background-color: #DCD9CC;  height: 30px;
    width: 175px;
    position: relative;
    left:-10px;
    z-index: 2;
}

  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
    position: absolute;
    z-index: 1;
    border-style:solid;
    height:0px;
    width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
    top: 30px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
    left: -10px;
    border-color: transparent #B9B6AB transparent transparent;
}

  .ribbon-edge-topleft {
    top: 0px;
    border-width: 0px 10px 0 0;
}
  .ribbon-edge-bottomleft {
    border-width: 0 10px 10px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
}

  .ribbon-edge-topright {
}
  .ribbon-edge-bottomright {
}

  .ribbon-back-left {
   
}

  .ribbon-back-right {
    
}

/* ribbon style */

 .ribbon-wrapper-right {
    position: relative;
    float: right;
}
  .ribbon-front-right {
    background-color: #DCD9CC;  height: 30px;
    width: 175px;
    position: relative;
    left:0px;
    z-index: 2;
}

  .ribbon-front-right,
  .ribbon-back-left-right,
  .ribbon-back-right-right
{
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft-right,
  .ribbon-edge-topright-right,
  .ribbon-edge-bottomleft-right,
  .ribbon-edge-bottomright-right {
    position: absolute;
    z-index: 1;
    border-style:solid;
    height:0px;
    width:0px;
}

  .ribbon-edge-topleft-right,
  .ribbon-edge-topright-right {
}

  .ribbon-edge-bottomleft-right,
  .ribbon-edge-bottomright-right {
    top: 30px;
}

  .ribbon-edge-topleft-right,
  .ribbon-edge-bottomleft-right {
    left: 0px;
    border-color: transparent #B9B6AB transparent transparent;
}

  .ribbon-edge-topleft-right {
    top: 0px;
    border-width: 0px 0px 0 0;
}
  .ribbon-edge-bottomleft-right {
    border-width: 0 0px 0px 0;
}

  .ribbon-edge-topright-right,
  .ribbon-edge-bottomright-right {
    left: 165px;
    border-color: transparent transparent transparent #B9B6AB;
}

  .ribbon-edge-topright-right {
    top: 0px;
    border-width: 0px 0 0 10px;
}
  .ribbon-edge-bottomright-right {
    border-width: 0 0 10px 10px;
}

  .ribbon-back-left-right {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 30px;
        z-index: 0;
}

  .ribbon-back-right-right {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 0px;
    height: 30px;
        z-index: 0;
}



/* Footer
-----------------------------------------------------------------------------*/

.footer {
    width: 100%;
}

