<aside class="sidebar"> 
  <div class="sidebar-nav">
  <ul>
    <li><%= link_to_unless_current "Artists", artists_path %></li>
    <li><%= link_to_unless_current "Events", page_path("events") %></li>
  </ul>
  </div>
     <p><%= render 'layouts/events' %></p>
  </aside>