<aside class="sidebar"> 
  <div class="sidebar-nav">
  	<%= render 'layouts/search' %>
  	<ul>
  	  <li><%= link_to "Artists", artists_path %></li>
  	  <li><%= link_to "Events", events_path %></li>
  	</ul>
  </div>
     <p><%= render 'layouts/events' %></p>
  </aside>